.side
    = render 'shared/side_bar'

.chat
    .header
        .left-header
            .left-header__name
            = @group.name
            .left-header__members
                / = hogehogehoge class: "member"
        .right-header
            = link_to 'Edit', '/groups/group_id/edit', class: "right-header__button"
    .messages
        = render partial: 'message', collection: @messages

    .form
        = form_for ( [@group, @message] ) do |f|
            = f.text_field :body, class: 'form__message', placeholder: 'Type a Message!'
            .form__mask
                = f.label :image, class: 'form__mask__image' do
                    = fa_icon 'picture-o', class: 'icon'
                    = f.file_field :image, class: 'hidden'
                = f.submit "Send", class: "form__submit"

